@model gaimz.Models.userInfo

@{
    ViewBag.Title = "Your Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tell us more about yourself!</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <p>Favorite Platform</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.favPlatform, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.favPlatform, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>Favorite Genre</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.favCategory, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.favCategory, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>Shipping Address</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>Postal Code</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.postCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.postCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>City</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>Country</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>Email?</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.wantEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.wantEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
