@model IEnumerable<gaimz.Models.tblGame>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.gameName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gameDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gameGenre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.gameName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gameDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gameGenre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.gameId }) |
            @Html.ActionLink("Details", "Details", new { id=item.gameId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.gameId })
        </td>
    </tr>
}

</table>
